[speedtests]
;; Required: the base URL where the tests can be found.
;; If you need a quick local thing, consider running
;; 'python -m SimpleHTTPServer 8080' in the html dir.
test_base_url = http://localhost:8080/

;; Only specify the results_server if you have a server to send results
;; to; otherwise leave it commented out.
;results_server = http://someserver:8888/api/

[linux]
firefox = /home/vladimir/firefox/firefox
firefox_args = -no-remote -P speedtest
tinderbox_args = -no-remote -P speedtest
nightly_args = -no-remote -P speedtest
tinderbox_suffix = tinderbox
nightly_suffix = nightly
chrome = /usr/bin/chromium-browser

[android]
reboot_after = 5
nap_after = 15
nap_time = 900
browsers = firefox tinderbox
firefox_package = org.mozilla.firefox
tinderbox_package = org.mozilla.fennec
nightly_package = org.mozilla.fennec
tinderbox_suffix = tinderbox
nightly_suffix = nightly

[windows]
firefox_args = -no-remote -P speedtest
tinderbox_args = -no-remote -P speedtest
nightly_args = -no-remote -P speedtest
tinderbox_suffix = tinderbox
nightly_suffix = nightly
