$def with (svrurl, htmldir)
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Mozilla SpeedTest Runner</title>
  <script type="text/javascript" src="$htmldir/js/jquery.min.js"></script>
</head>
<body>
<div id="main">
<p>
SpeedTests go!
</p>
</div>
<script>
$$(document).ready(function() {
  
  var search = '';
  if (document.location.search) {
    search = '&' + document.location.search.slice(1);
  }
  
  var w = window.open('$svrurl/nexttest/?runtests=true' + search, 'testWindow',
      'resizable=no,status=no,top=0,left=0,height=768,width=1024,menubar=no,toolbar=no,location=no,personalbar=no');
  
  var iId = setInterval(function() {
    if (w.closed) {
      clearInterval(iId);
      $$("#main").html('<p>Speed tests are done!</p><p><a href="$svrurl/start/">Run them again</a>.</p>');
    }
  }, 1000);
  
});
</script>
</body>
</html>
