[speedtests]
# These are the defaults
html_dir = ../html   # location of tests and results HTML/JS/CSS
proxy = None         # forward results onto this results server
db_host = localhost  # for results server, location of results db

[clients]
# for results server, list all clients here in the form <IP> = <displayed name>

[client keys]
# to support JWS authenticated messages from clients, place keys here in
# the form <IP> = <key>

