[server]
# These are the defaults
db_type = sqlite             # sqlite, mysql
db_name = speedtests.sqlite  # for sqlite
#db_host = localhost         # if mysql
#db_user = user              # if mysql
#db_passwd = pass            # if mysql

