body {
  background: url("../images/bg.gif") repeat scroll 0 0 transparent;
  padding: 0;
  margin: 10px;
  font-family: sans-serif;
}

.no-overflow {
  overflow: hidden;
  background: white;
}

td.textleft {
  text-align: left;
}

.clear {
  clear: both;
}

.hidden {
  show: false;
}

.small {
  font-size: 50%;
}

#controls {
  text-align: center;
  margin-top: 0px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display: none;
}

#results {
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.padded {
  padding: 20px;
}

.smallpadded {
  padding: 5px;
}

#loading {
  position: absolute;
  top: 0px;
  right: 0px;
}

#templates {
  display: none;
}

#title {
  font-weight: bold;
  text-align: center;
}

#tooltip {
  position: absolute;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
}

.graph {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

table.display {
  border-spacing: 0;
  width: 800px;
}

table.display td {
//  padding: 0;
}

table.display th {
  padding: 0;
}

.ui-datepicker-trigger {
  vertical-align: middle;
}
